$silver: #c4c4c4;
$black: #000;
$transparent-black: rgba(0, 0, 0, 0.5);
$grey: rgb(128, 128, 128);
$profile: rgb(239, 244, 248);
$responsivewidth: 49vw;
$fontType: 'Montserrat', sans-serif;
$darkgrey: #575756;
